{% extends "base.html.twig" %}
{% block title %}
	{{ product.name}}
{% endblock %}

{% block body %}
	Product name:
	{{ product.name }}
	<div class="row">
		<div class="col-4">

			<img src="{{ product.mainPicture }}" class="img-fluid" alt="image du produit"/>
			<h4 class="card-title">{{ product.name }}
				({{ product.price/100 }}) &euro;
			</h4>
		</div>
		<div class"col">
			<p class="badge bg-primary">
				{{product.category.name }}
			</p>
			<p class="card-text">{{ product.shortDescription }}</p>
			<a href="#" class="btn btn-success btn-lg">
				<i class="fas fa-shopping-cart"></i>
				Ajouter</a>


		</div>
	</div>
{% endblock %}
