{% extends "base.html.twig" %}
{% block body %}

	<h1>Hello
		{{prenom}}
		!</h1>
	{# for the tableau associatif and JS object is the same way we access its attributes with the help of . #}
	<p>Mon formateur s'appelle
		<strong>
			{{formateur.prenom}}</strong>
		{{formateur.nom}}
		et il a
		{{formateur.age}}
		ans</p>
	<p>
		Un enfant a lui s'appelle
		{{formateur.enfant.0}}
	</p>

	{# WITH OUT INCLUDE PARTIAL #}
	<p>Class 1
		{{class1.place}}
		{{class1.cp}}
	</p>
	<p>Class 2
		{{class2.place}}
		{{class2.cp}}
	</p>

	{# WITH INCLUDE AND WITH A VARIABLE USING WITH and a tableau associatif in twig is represented in {} i.e {'class':class1}  which is {'name of variable':my value to this variable}  #}
	<p>using include
	</p>

	{# {% set class= class1 %}  is also possible in place of with but have to reset it again for the class2#}
	{% include "_class.html.twig" with {'class':class1} %}
	{% include "_class.html.twig" with {'class':class2} %}

	{#	<p>Vous avez
																	
																														{{age}}
																														ans</p>
																													{% if age >= 18 %}
																														vous etes un adult
																													{% else %}
																														vous etes mineur
																													{% endif %}
																											
																													<ul>
																														{% for person in prenoms %}
																															<li>personne=>
																																{{person | upper }}
																															</li>
																														{% endfor %}
																													</ul>
																											
																													<ul>
																											
																														{% for i in 1..10 %}
																															<li>No
																																{{ i }}</li>
																														{% endfor %}
																													</ul>#}


{% endblock %}
{% block title %}
	Hello
	{{prenom | upper}}
{% endblock %}
